--
-- PostgreSQL database dump
--

\restrict gPj7qIlh3dftyvb5jVzmZ8XrQDfpRAvA7khOp7KsxfhxfxO54MQwVZOCHLyHjjB

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carritos; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.carritos (
    id bigint NOT NULL,
    activo boolean NOT NULL,
    cliente_id bigint NOT NULL
);


ALTER TABLE public.carritos OWNER TO agrodirecto;

--
-- Name: carritos_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.carritos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carritos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_carrito; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.detalle_carrito (
    id bigint NOT NULL,
    agricultor_id bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    producto_id bigint NOT NULL,
    carrito_id bigint NOT NULL
);


ALTER TABLE public.detalle_carrito OWNER TO agrodirecto;

--
-- Name: detalle_carrito_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.detalle_carrito ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.detalle_carrito_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_pedido; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.detalle_pedido (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    producto_id bigint NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    pedido_id bigint NOT NULL
);


ALTER TABLE public.detalle_pedido OWNER TO agrodirecto;

--
-- Name: detalle_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.detalle_pedido ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.detalle_pedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.pedidos (
    id bigint NOT NULL,
    agricultor_id bigint NOT NULL,
    cliente_id bigint NOT NULL,
    estado character varying(30) NOT NULL,
    fecha timestamp(6) without time zone NOT NULL,
    total numeric(10,2) NOT NULL
);


ALTER TABLE public.pedidos OWNER TO agrodirecto;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.pedidos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pedidos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: carritos carritos_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.carritos
    ADD CONSTRAINT carritos_pkey PRIMARY KEY (id);


--
-- Name: detalle_carrito detalle_carrito_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.detalle_carrito
    ADD CONSTRAINT detalle_carrito_pkey PRIMARY KEY (id);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: detalle_carrito fkd6jhw9lxmv34u41jvre8asuff; Type: FK CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.detalle_carrito
    ADD CONSTRAINT fkd6jhw9lxmv34u41jvre8asuff FOREIGN KEY (carrito_id) REFERENCES public.carritos(id);


--
-- Name: detalle_pedido fkg9h17fjynh9lgf1kbn0v9p4kf; Type: FK CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT fkg9h17fjynh9lgf1kbn0v9p4kf FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict gPj7qIlh3dftyvb5jVzmZ8XrQDfpRAvA7khOp7KsxfhxfxO54MQwVZOCHLyHjjB

