--
-- PostgreSQL database dump
--

\restrict VuiQbedxfKSvptWcUHNyZOIvfccBdvaSpwyS7pBbZlkAQws4oor5ghZXy8nYXa8

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categorias; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.categorias (
    id bigint NOT NULL,
    activo boolean NOT NULL,
    descripcion character varying(255),
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.categorias OWNER TO agrodirecto;

--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.categorias ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categorias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: productos; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.productos (
    id bigint NOT NULL,
    activo boolean NOT NULL,
    agricultor_id bigint NOT NULL,
    descripcion character varying(500),
    imagen_url character varying(255),
    nombre character varying(150) NOT NULL,
    precio numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    unidad_medida character varying(30) NOT NULL,
    categoria_id bigint NOT NULL
);


ALTER TABLE public.productos OWNER TO agrodirecto;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.productos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.productos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: categorias ukqcog8b7hps1hioi9onqwjdt6y; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT ukqcog8b7hps1hioi9onqwjdt6y UNIQUE (nombre);


--
-- Name: productos fk2fwq10nwymfv7fumctxt9vpgb; Type: FK CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT fk2fwq10nwymfv7fumctxt9vpgb FOREIGN KEY (categoria_id) REFERENCES public.categorias(id);


--
-- PostgreSQL database dump complete
--

\unrestrict VuiQbedxfKSvptWcUHNyZOIvfccBdvaSpwyS7pBbZlkAQws4oor5ghZXy8nYXa8

