--
-- PostgreSQL database dump
--

\restrict 38zZLFYOzM0ZCL9M2rGDbOayhsWIVDxcLGQNoVtXJTZ5OrebwSdjdA9i1h6cfL5

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    nombre character varying(30) NOT NULL
);


ALTER TABLE public.roles OWNER TO agrodirecto;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: agrodirecto
--

CREATE TABLE public.usuarios (
    id bigint NOT NULL,
    activo boolean NOT NULL,
    apellidos character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    nombres character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    rol_id bigint NOT NULL
);


ALTER TABLE public.usuarios OWNER TO agrodirecto;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: agrodirecto
--

ALTER TABLE public.usuarios ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: usuarios ukkfsp0s1tflm1cwlj8idhqsad0; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT ukkfsp0s1tflm1cwlj8idhqsad0 UNIQUE (email);


--
-- Name: roles ukldv0v52e0udsh2h1rs0r0gw1n; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT ukldv0v52e0udsh2h1rs0r0gw1n UNIQUE (nombre);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios fkqf5elo4jcq7qrt83oi0qmenjo; Type: FK CONSTRAINT; Schema: public; Owner: agrodirecto
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fkqf5elo4jcq7qrt83oi0qmenjo FOREIGN KEY (rol_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 38zZLFYOzM0ZCL9M2rGDbOayhsWIVDxcLGQNoVtXJTZ5OrebwSdjdA9i1h6cfL5

